<div>
  <h1>Coaching: Ask</h1>
</div>

<div>
  <form action="/answer">
    <label for="question">What would you like to ask the coach?</label>
    <input type="text" id="question" name="query" placeholder="Enter your query...">
    <input type="submit" value="Ask!">
  </form>
</div>
